<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Height</th>
      <th scope="col">Mass(kg)</th>
    </tr>
  </thead>
  <tbody>
    <% @people.each do |person| %>
        <tr>
            <th scope="row"><%= link_to person.id, people_show_path(person.id) %></th>
            <td><%= person.name %></td>
            <td><%= person.height %></td>
            <td><%= person.mass %></td>
        </tr>
    <% end %>
    </tbody>
</table>
<%= paginate @people %>